extends ./layout

block content
  div(ng-view)

  script(type='text/ng-template', id='postsIndex')
    include templates/postsIndex
  script(type='text/ng-template', id='postsNew')
    include templates/postsNew
  script(type='text/ng-template', id='postsShow')
    include templates/postsShow
  script(type='text/ng-template', id='postsEdit')
    include templates/postsEdit
