extends ./layout

block content
  include partials/header

  .container
    div(ng-view)

  script(type='text/ng-template', id='LoginTmpl')
    include templates/login
  script(type='text/ng-template', id='LogoutTmpl')
    include templates/logout

  script(type='text/ng-template', id='PostsIndexTmpl')
    include templates/posts/index
  script(type='text/ng-template', id='PostsNewTmpl')
    include templates/posts/new
  script(type='text/ng-template', id='PostsShowTmpl')
    include templates/posts/show
  script(type='text/ng-template', id='PostsEditTmpl')
    include templates/posts/edit

  script(type='text/ng-template', id='UsersNewTmpl')
    include templates/users/new
  script(type='text/ng-template', id='UsersShowTmpl')
    include templates/users/show
  script(type='text/ng-template', id='UsersEditTmpl')
    include templates/users/edit
