.page-header
  h1 Logout

form.form-horizontal(ng-submit='submit()')

  .form-group
    .col-sm-offset-2.col-sm-10
      p.form-control-static Are you sure you want to logout?

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit') Confirm
