.page-header
  .btn-group.pull-right
    a.btn.btn-default(href='/posts/{{post._id}}/edit') Edit Post
    button.btn.btn-default(ng-click='delete()') Delete Post
  h1 {{post.title}}

h5.text-muted By {{post.author}}

div(ng-bind-html='post.content | markdown')
