h1 Edit Post

div: label Title:
div: input(type='text', ng-model='post.title')

div: label Author:
div: input(type='text', ng-model='post.author')

div: label Content:
div: textarea(ng-model='post.content')
