@import '../components/bootstrap-stylus/stylus/bootstrap'

.navbar-nav
  margin ($navbar-padding-vertical / 2) (-($navbar-padding-horizontal))

  @media $media-min-grid-float-breakpoint
    margin 0

textarea
  max-width 100%
